* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #FDEE02;
  color: #020617;
}

.container {
  max-width: 430px;
  height: 100vh;
  margin: 0 auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* BANNER */
.topo img {
  width: 100%;
  border-radius: 12px;
}

/* DROPDOWN */
select {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border-radius: 12px;
  border: 2px solid #020617;
  background: #fff;
}

/* TÍTULO */
h1 {
  text-align: center;
  font-size: 22px;
  margin: 4px 0;
}

/* ROLETA */
.roleta {
  background: #ffffff;
  border: 4px solid #020617;
  border-radius: 20px;
  padding: 28px 16px;
  min-height: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nome {
  font-size: 26px;
  font-weight: bold;
}

#numero {
  font-size: 20px;
  margin-top: 10px;
}

/* BOTÃO */
button {
  width: 100%;
  padding: 18px;
  font-size: 22px;
  border-radius: 14px;
  border: none;
  background: #020617;
  color: #FDEE02;
  font-weight: bold;
}

button:disabled {
  background: #888;
  color: #eee;
}

/* RESULTADO */
#resultado-final {
  background: #ffffff;
  border-radius: 16px;
  padding: 14px;
}

#resultado-final h2 {
  text-align: center;
  margin-bottom: 10px;
}

#lista-ganhadores {
  list-style: none;
  padding: 0;
  margin: 0;
}

#lista-ganhadores li {
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.hidden {
  display: none;
}
